<script type="text/html" id="user-details">
  <h1>Welcome  <%%= this.model.get("name") %></h1>
  <img src="<%%= this.model.get("image_url") %>" alt="facebook profile image">
  <form>
    <button id="get-friends">Find Your Friends</button>
    <button id="get-shares">Get Your Post Data</button>
  </form>
</script>

<script type="text/html" id="new-session">
  <li id="sign_up"></li>
  <li id="sign_in"></li>
</script>

<script type="text/html" id="logout-view">
  <li id="sign_out"></li>
</script>


<script type="text/html" id="say-hello">
  <h1>NOT JUST ANOTHER APP FOR F<span id="dirty">IND</span>ING YOUR FRIENDS....YET</h1>
</script>


<script type="text/html" id="friends-html">
    <li><%%= this.model.get("name") %></li>
    <li><a href="https://www.facebook.com/<%%= this.model.get("fb_id") %>" target="_blank"><img src="<%%= this.model.get("image_url") %>" alt="facebook profile image"></a></li>
    <li>Count: <%%= this.model.get("count") %></li>
</script>

<script type="text/html" id="loading">
    <h1><%%= this.model.get("name") %> please wait while your friends are loaded</h1>
</script>

<script type="text/html" id="share-html"></script>



