<script type="text/html" id="user-details">
  <h1>Welcome  <%%= this.model.get("name") %></h1>
  <a href="https://www.facebook.com/<%%= this.model.get("fb_id") %>" target="_blank">
    <img src="<%%= this.model.get("image_url") %>" alt="facebook profile image">
  </a>
  <form>
    <button id="get-friends">View Interactions</button>
  </form>
</script>

<script type="text/html">
   <%% if (this.model.get("returning_user")) { %>
    <form>
      <button id="get-friends">View Interactions</button>
    </form>
  <%% } else { %>
    <div id="message-container">
      <h3>You are a new User. Please wait while your Facebook Data is Loaded</h3>
      <div id="progressbar"></div>
    </div>
  <%% } %>
</script>

<script type="text/html" id="new-session">
  <li id="sign_up">
    <img src="http://www.slimkicker.com/img/sign-up-facebook.png" />
  </li>
  <li id="sign_in">
    <img src="http://www.videoaround.com/images/facebook-login-button.png" />
  </li>
</script>

<script type="text/html" id="logout-view">
  <li id="sign_out">
    <img src="https://save.ca/img/logout_FB.png" />
  </li>
</script>


<script type="text/html" id="say-hello">
  <h1>NOT JUST ANOTHER APP FOR F<span id="dirty">IND</span>ING YOUR FRIENDS</h1>
</script>


<script type="text/html" id="friends-html">
    <li><%%= this.model.get("name") %></li>
    <li><a href="https://www.facebook.com/<%%= this.model.get("fb_id") %>" target="_blank"><img src="<%%= this.model.get("image_url") %>" alt="facebook profile image"></a></li>
    <li>Count: <%%= this.model.get("count") %></li>
</script>

<script type="text/html" id="friends-svg">
  <%% if (this.model.get("returning_user")) { %>
    <svg></svg>
  <%% } else { %>
    <div id="message-container">
      <h3>You are a new User. Please wait while your Facebook Data is Loaded</h3>
      <div id="progressbar"></div>
    </div>
  <%% } %>
</script>




