// NAMESPACE THE APP
var CoolioApp = {
  Models:       {}, 
  Collections:  {},
  Views:        {},
  Router:       null,
  initialize:   function() {
   
  }, 
  checkLoginStatus: function() {
    
    FB.getLoginStatus(function(response) {
      if (response.status === 'connected') {
        console.log("CONNECTED IN CHECK LOGIN STATUS");
        CoolioApp.Session.save({fb_id: response.authResponse.userID, ouath_token: response.authResponse.accessToken, oauth_expires_at: response.authResponse.expiresIn}, {
          success: function(response) {
            console.log("RESPONSE FROM SESSION", response);
            CoolioApp.currentUserModel.save({
              fb_id: response.attributes.fb_id,
              oauth_token: response.attributes.ouath_token,
              oauth_expires_at: response.attributes.oauth_expires_at
            }, {
              success: function(response) {
                Backbone.history.navigate("user/" + response.attributes.id, {trigger: true});
              },
              error: function() {

              }
            });
          }, error: function(response) {
            // DO SOMETHING IF SESSION CANNOT BE FOUND IN THE DB
            console.log("ERROR IN SESSION RESPONSE");
          }
        });
      } else if (response.status === 'not_authorized') {
        console.log("LOGGED INTO FB BUT NOT AUTHORIZED ON APP");
        Backbone.history.navigate("welcome", {trigger: true});
      } else {
        console.log("NOT LOGGED IN");
        Backbone.history.navigate("welcome", {trigger: true});
      }
    });
  }
}

// ASYNCHRONOUSLY LOAD THE FACEBOOK SDK
jQuery(function() {
 $(document).foundation();
 $('body').prepend('<div id="fb-root"></div>');

 (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  window.fbAsyncInit = function() {
    FB.init({
      appId: '<%= ENV["FACEBOOK_KEY_COOL_IO"] %>',
      status     : true,
      frictionlessRequests : true,
      cookie: true
    });
    console.log("APP INITIALIZED");
    CoolioApp.checkLoginStatus();
  }
});