/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

#sign_in {
  background: url('http://www.videoaround.com/images/facebook-login-button.png') no-repeat center center;
  height: 50px;
  display: block;
  width: 250px;
}

#sign_up {
  background: url('http://inspiration.entrepreneur.com/img/signup-facebook-button.png') no-repeat center center;
  height: 50px;
  display: block;
  width: 250px;
}

#sign_in:hover, #sign_up:hover, #sign_out:hover {
  cursor:pointer;
}

#sign_out {
background: url('https://save.ca/img/logout_FB.png') no-repeat center center;
height: 50px;
display: block;
width: 250px;
}

.friends-list ul {
  margin: 0;
  box-sizing: border-box;
  padding: 15px;
  width: 20%;
  float: left;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.friends-list li {
  text-align: center;
  list-style: none;
}





