/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 #sign_in {
  background: url('http://www.videoaround.com/images/facebook-login-button.png') no-repeat center center;
  height: 50px;
  display: block;
  width: 250px;
 }

#sign_in:hover {
  cursor:pointer;
}

#sign_out {
background: url('https://save.ca/img/logout_FB.png') no-repeat center center;
height: 50px;
display: block;
width: 250px;
}

#sign_out:hover {
  cursor:pointer;
}




